
:root{
    --primary-color:#232323;
    --secondary-color:#303030;
    --padding-left:20%;
    --font-size-title:7vw;
    --font-size-title-s:1.5vw;
}
html {
  scroll-behavior: smooth;
}
.app{
    overflow: hidden;
}
.container {
    position: relative;
    text-align: center;
    color: white;
}
.text-home{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
}
.name{
    letter-spacing: 3px;
    font-weight:500;
    font-size:5vw;
}
.sub-name{
    letter-spacing: 5px;
    font-weight:500;
    font-size:3vw;
}
.home-menu{
    padding-top:1vw;
    font-weight: 100;
    font-size:1.2vw;
}
.home-menu a{
    letter-spacing: 3px;
    font-weight: 200;
    padding:5px;
    padding-left:10px;
    padding-right:10px;
    background: rgb(52,153,255);
background: linear-gradient(225deg, rgba(52,153,255,1) 0%, rgba(58,57,133,1) 100%);
    border-radius: 30px;
    text-decoration: none;
    color:white;
}
.separators{
    border-left: 2px solid white;
    margin:10px;
    display: inline;
}
body{
    background: var(--primary-color);
    font-family: 'Kanit', sans-serif;
}
canvas {
    width:100%;
    background:  var(--primary-color);
}       .footer{
    background-color: black;
    position: absolute;
    width: 100%;
    bottom: 1;
    height: 20px;
}
.bold{
    letter-spacing: 4px;
    font-weight: 400;
}
.header{
    display : grid;
    grid-template-areas:
    'logo menu';
    grid-template-columns: 40% 60%;
    background-color: rgba(0,56,86,1);
    height: 80px;
    color : white;
    top:0;
    width: 100%;
    position: fixed;
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Kanit', sans-serif;
    padding-left:var(--padding-left);
}
.header-logo{
    padding-top:20px;
    font-size:25px;
    font-weight: 600;
    width: 100%;
    grid-area: logo;
}
.header-menu{
    width:100%;
    display : flex;
    grid-area: menu;
}
.header a{
    text-decoration: none;
    letter-spacing: 2px;
    font-size:20px;
    color:white;
}
.header li{
    margin-right: 40px;
    font-weight: 600;
    padding-top:20px;
    list-style: none;
}
.burger{
    padding-left:90%;
    font-size:20px;
    padding-top:20px;
}
.home{
    text-align: center;
    /* padding-left:var(--padding-left); */
    padding-top:70px;
    margin-top:50px;
    height: 500px;
    color:white;
    background: rgb(0,56,86);
    background: linear-gradient(152deg, rgba(0,56,86,1) 0%, rgba(3,152,232,1) 100%); 
    /* background-color: white; */
    font-family: 'Kanit', sans-serif;
}
.contact{
    color:#0071e3;
}
.title{
    /* width: 100%; */
    padding-top:40px;
    margin-top:-2%;  
    margin-bottom:-2%;  
    font-size:var(--font-size-title);
}
.title-s{
    /* width: 100%; */
    font-weight: 700;
    padding-top:40px;
    font-size:var(--font-size-title-s);
}
.title-s a{
    font-size:var(--font-size-title-s);
}
.xs{
    font-size:var(--font-size-title-s);
}
.infomation{
    display: flex;
    font-family: 'Kanit', sans-serif;
    padding-top:50px;
    padding-left:var(--padding-left);
    color:white;
    font-size:50px;
    padding-bottom: 20px;
    background-color: var(--secondary-color);
}
.infomation a{
    font-weight:500;
    text-decoration: none;
    color:white;
    background: rgb(52,153,255);
background: linear-gradient(180deg, rgba(52,153,255,1) 67%, rgba(58,57,133,1) 100%);
    border-radius: 15px;
    padding: 4px;
}
.infomation-detail{
    padding-left:10%;
}
.img-info{
    padding-top:60px;
    /* padding-left:var(--padding-left); */
    height: 400px;
}
.detail{
    padding-top:20px;
    font-size:30px;
}
.detail-s{
    padding-top:20px;
    font-size:20px;
}
.img{
    padding-top:60px;
    padding-left:90px;
    height: 400px;
}
.work-container{
    background-color:#024873 ;
    font-family: 'Kanit', sans-serif;
    color:white;
    padding-left:var(--padding-left);
    display: flex;
}
.work-title{
    text-align: center;
    color:white;
    font-size:50px;
    padding-top:50px;
    padding-bottom: 30px;
}
.works{
    word-wrap: break-word;
    color:white;
    font-size:30px;
}
.works-span{
    color:white;
    font-size:30px;
}
.detail{
    font-size:20px;
}
.detail a{
    font-weight: 600;
    text-decoration: none;
    color:white;
    
    border-radius: 15px;
    padding: 4px;
}
.qr{
    margin-top:-60px;   
    margin-left: 400px;
    height: 100px;
    width: 100px;
}
.line-add{
    text-decoration: none;
    color:white;
    font-weight: 700;
}
.next{
    padding-top:130px;
}
.up{
    margin-top:-40px;
    padding-bottom: 100px;
}
.fix-width{
    height: 300px;
}
.card{
    display:flex;
    flex-wrap: wrap;
    width:100%;
    justify-content: center;
}
.card-container{
    margin:20px;
    width: 300px;
    height: 500px;
    background: rgb(192,198,227);
background: linear-gradient(0deg, rgba(192,198,227,1) 0%, rgba(239,250,255,1) 24%);
    border-radius: 8px;
    box-shadow: 0px 1px 10px 1px #405070;
    overflow: hidden;
    display: inline-block;
    text-align: center;
    transition: all 500ms;
  }
  .card-container:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: all 800ms;
    z-index: 99;
  }
  
  .card-detail{
      height:10%;
      padding-top:10px;
      font-weight: 200;
  }
  .card-image{
      height:170px;
      width:100%;
  }
  .card-footer{
      padding-top:30px;
      height:16%;
  }
  .card-footer a{
    line-height: 2.5;
    font-weight: 500;
    text-decoration: none;
    color:white;
    background-color:#0071e3;
    border-radius: 15px;
    padding: 6px;
    width:50%;
    text-align: center;
  }
  .card-img{
      height:100%;
  }
  .card-img-cov{
      padding-top:60px;
      width:90%;
  }
  .card-title{
      padding-top:20px;
      height:15%;
      text-align: center;
      font-size:20px;
  }
  .card-button{
      font-size:20px;
      color:black;
      font-weight: 400;
      width:100%;
      cursor:pointer;
      padding-top:4%;
      height: 100%;
  }
  .yellow{
      background-color: #ffc627;
  }
  .blue{
      background-color: #62d8fe;
  }

  .content-container{ 
      margin:0 auto;
      color:white;
      width:1000px;
      color:white;
    }
    .content-title{
        padding-top:30px;
        font-size: 40px;
        letter-spacing: 5px;
    }
    .content-subtitle{
        font-size:20px;
        font-weight: 300;
    }
    .content-subtitle a{
        font-weight:300;
        text-decoration: none;
        color:white;
        background: rgb(52,153,255);
        border-radius: 15px;
        padding: 4px;
    }
    .content-detail{
        font-weight: 300;
        letter-spacing: 1px;
        padding: 10px;
        font-size:20px;
    }
    
.slide-container{
    height:500%;
    margin-top:20px;
}
.slides{
    height: 100%;
}
  #slides {
    height: 100%;
    background:white;
    display: none
  }

  #slides .slidesjs-navigation {
    margin-top:3px;
  }

  #slides .slidesjs-previous {
    margin-right: 5px;
    float: left;
  }

  #slides .slidesjs-next {
    margin-right: 5px;
    float: left;
  }

  .slidesjs-pagination {
    margin: 6px 0 0;
    float: right;
    list-style: none;
  }

  .slidesjs-pagination li {
    float: left;
    margin: 0 1px;
  }

  .slidesjs-pagination li a {
    display: block;
    width: 13px;
    height: 0;
    padding-top: 13px;
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/139719/pagination.png");
    background-position: 0 0;
    float: left;
    overflow: hidden;
  }

  .slidesjs-pagination li a.active,
  .slidesjs-pagination li a:hover.active {
    background-position: 0 -13px
  }

  .slidesjs-pagination li a:hover {
    background-position: 0 -26px
  }

  #slides a:link,
  #slides a:visited {
    color: black;
    text-decoration: none;
  }

  #slides a:hover,
  #slides a:active {
    color: black;
  }

  .navbar {
    overflow: hidden
  }
  
@media (min-width:1306px) {
    
}
@media (max-width: 1306px) and (min-width:1158px) {
    :root{
        --font-size-title:8vw;
        --font-size-title-s:2vw;
        --padding-left:10%;
    }
}
@media (max-width:1158px){
    
    .content-detail{
        margin-top:60px;
        letter-spacing: 3px;
    }
    .content-subtitle{
        padding-left:30px;
        margin-top:20px;
    }
    .content-title{
        padding-left:30px;
        margin-top:50px;
    }
    .slide-container{
        padding-top:70px;
    }
    .header{
    grid-template-columns: 100% 70%;
    }
    .hide{
        display: none;
    }
    .home{
        margin-top:50px;
    }
    .next{
        padding-top:100px;
    }
    :root{
        --padding-left:3%;
        --font-size-title:12vw;
        --font-size-title-s:3vw;
    }
    .infomation{
        display: grid;
        font-family: 'Kanit', sans-serif;
        padding-top:50px;
        padding-left:var(--padding-left);
        color:white;
        font-size:50px;
        text-align: center;
        padding-bottom: 20px;
    }
    .infomation-detail{
        padding-left:0px;
        text-align: center;
    }
    
    .work-container{
        height: 800px;
        font-family: 'Kanit', sans-serif;
        color:white;
        padding-left:var(--padding-left);
        display: grid;
        text-align: center;
    }
    .detail{
        font-size:20px;
    }
    .works-span{
        text-align: left;
    }
    .img{
        text-align: center;
        padding-left:0px;
    }
}
.back-home{
    color:white;
    text-decoration: none;
}
.bot-add{
    font-weight: 300;
    font-size:30px;
    
}
.bot-add a{
    border-radius: 30px;
    color:white;
    padding:7px;
    padding-left:15px;
    padding-right:15px;
    text-decoration: none;
    
    background: rgb(52,153,255);
background: linear-gradient(225deg, rgba(52,153,255,1) 0%, rgba(58,57,133,1) 100%);
}